<ion-view title="Page" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page4-form3" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="page4-toggle3" class=" ">Toggle</ion-toggle>
            <ion-radio id="page4-radio3" class=" ">Radio</ion-radio>
            <label class="item item-input " id="page4-input2">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="range range-positive " id="page4-range1">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
    </ion-content>
</ion-view>