<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>AngularJS First Application</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
	<div ng-controller="controller_one">
		
		<h1>Contacto</h1>
		<ul>
			<li ng-repeat="item in contacto">{{ item.firstname }} {{ item.lastname }} {{ item.phone }} <img src="{{ item.rutaimg }}"> </li>
		</ul>
	</div>
    <div ng-controller="controller_two">
        <h1>Names</h1>
        <ul>
            <li ng-repeat="name in simple_names">{{ name  }}</li>
        </ul>

        
    </div>
	
	<script type="text/javascript">
	angular.module('app', [])
	       .controller('controller_one',function($scope){
	       	 $scope.contacto = [
                {
                    firstname: "Alejandro",
                    lastname: "Romero",
                    phone:"333333",
                    rutaimg: "C:/wamp/www/lab11/bike.jpg"
                },
                {
                    firstname: "Diego",
                    lastname: "Pan",
                    phone:"333333"
                },
                {
                    firstname: "Filly",
                    lastname: "Rest"
                },
                {
                    firstname: "Jimmy",
                    lastname: "Lagp"
                },
                {
                    firstname: "Yopo",
                    lastname: "Rom"
                },
                {
                    firstname: "Sara",
                    lastname: "Rome"
                }
            ];
	       })
           .controller('controller_two',function($scope){
            $scope.simple_names = ["1", "3", "5", "7", "9"];
            
           });
		
	</script>
</body>
</html>