<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="page2" id="page-button1" class=" button button-positive  button-block ">BOTÓN 1</a>
        <button id="page-button2" class=" button button-positive  button-block ">Tap me!</button>
        <button id="page-button3" class=" button button-positive  button-block ">Tap me!</button>
        <button id="page-button4" class=" button button-positive  button-block ">Tap me!</button>
    </ion-content>
</ion-view>